/* @media  only  screen and (min-width:320px) and (max-width:330px){}

@media only screen and (max-width:479px){}
 */
 @media only screen and (min-width:480px) and (max-width:639px){


    .Topbar-section{
        background-color: #F8F8F8;
        padding: 20px;
        display: none;
        }


        
    .slide-data{
        width:600px;
        left: -8%;
        top: 42%;
        position: relative;
    }
    
    .slide-data h1{
        text-transform: uppercase;
        font-weight:800;
       border: 1px solid none;
        color: white;
        line-height: 55px;
        font-size: 43px !important;
        letter-spacing: 1px;
    }
    
    .tittle-tag{
        background-color: #06A3DA;
        font-weight: 800;
        line-height: 50px;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 10px;
        text-transform: uppercase;
        }
        

            /* ====== 4 Item show ====== */

            .service-folder {
                border: 1px solid red;
                margin-top: 15px;
                background-color: #eef7ff;
            
            }

            
        .service-afters {
            background-color: #0CB8B6;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 165px;
            bottom: 0;
            left: 38%; }

            .time-table{
                background-color: #ededed;
                padding: 20px;
                margin-top: 15px;
                            }


 /* ==== About section ===== */       
 
 
 .about-imgs{
height: 400px;
background-size: cover;
 }
    

 .about-content{
    padding: 30px;

}



 /* ===== Service section ===== */

 .service-contents {
    padding: 20px;
    position: relative;
    border: 1px solid none;
    left:0%;
    /* margin-left: 50px; */ }

    .service-box {
        background-image: url("../image/dental.jpg");
        padding: 50px;
        background-size: cover;
        height: 350px;

         }

    /* ======  Service section part 2 === */


    .wrapper{
     width: 95%;
        justify-content: space-between;
      }

      /* ===  Appointments ==== */
      .appointment {
          padding: 38px;
          text-align: center;
      }
      


      .primary-btn1 {
        margin-left: 20px;    
      }

      .primary-btn2 {
        margin-left: 20px;    
      }



/* ==== Image Gallery section ==== */


.items span{
    position: relative;
    left: 0;
}


.contact-wrap {
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in:nth-child(2) {
	flex: 100%;
	background: #c31432;
}


    }